<div class="container">

    <div class="row mt-5">

        <div class="col-6 mx-auto">

            <h2>Update employee</h2>

            <input type="text"  class="form-control m-2" placeholder="name">

            <input type="text" class="form-control m-2" placeholder="lastname"
            >
            <input  type="text" class="form-control m-2" placeholder="email">

            <input  type="text" class="form-control m-2" placeholder="tel">

            <input  type="text" class="form-control m-2" placeholder="address">

          
            <select  class="form-control m-2">
                <option value="">--Selectionner un departement--</option>

                <option></option>
            </select>

            <input  type="file" class="form-control m-2">

            <button class="btn btn-dark form-control m-2">Create</button>

        </div>

    </div>

</div>
